

body {
font-weight: normal;
font-style: normal;
text-align: justify;
background-color:#1e4a75;
font-family: Arial;
line-height: 130%;
color: black;
margin-top: 6px;
}

#contenedor {
position: relative;
margin-left: auto;
margin-right:auto;
margin-top: 1px;
padding: 0px 0px 0px 0px;
background-color:white; /*#1e4a75;*/  /*a0a0a0;   /*#878787;*/
width:800px;
height:auto;
color:black;
overflow: auto;
/*box-shadow: 0 6px 10px -4px black;*/
}

#contenedor2 {
position: relative;
margin-left: auto;
margin-right:auto;
margin-top: 1px;
padding: 0px 0px 0px 0px;
background-color:white; /*#1e4a75;*/  /*a0a0a0;   /*#878787;*/
width:1330px;
height:auto;
color:black;
/*box-shadow: 0 6px 10px -4px black;*/
}

#header{
	width:800px;
	height:195px;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	background-image: url('../imagenes/header.png');
}
#header2{
	width:1330px;
	height:195px;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	background-image: url('../imagenes/header.png');
	background-repeat: no-repeat;
	background-size:1330px 195px;
}

#header-menu {
	float:right;
	width:700px;
	height:30px;
	margin: 122px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	color:white;
}

#header-menu ul{
	padding:0px 7px 0px 7px;
}


#header-menu ul li{
	display:inline;
	float:right;
	height:30px;
	padding:0px 4px 0px 4px;
	list-style-type:none;
	list-style:none;
}

#header-menu ul li a{
    text-decoration:none;
    color:white;
    font-size:15px;
    position:relative;
}

#header-menu ul li a:hover{
    color:orange;
    text-decoration:overline;
    z-index: 10;
}

#header-menu ul li ul{
	display:none;
	padding:0px 0px 0px 0px;
	list-style-type:none;
	list-style:none;
	position: absolute;
    z-index:10;
}

#header ul li:hover ul {
	display: block;
	z-index:10;
}

#header-menu ul li ul li{
	z-index:10;
	display: block;
	float: none;
	position: relative;
	background-color: #2770D7;
	padding:0px 0px 0px 0px;
	list-style-type:none;
	list-style:none;
}

#header menu ul li ul li a{
	z-index:10;
	display: block;
	padding: 0px 3px 0px 3px;
	margin: 0px 0px 0px 0px;
}

#header ul li ul li a:hover {
	z-index:10;
	display: block;
	text-decoration: none;
	color: orange;
	padding: 0px 3px 0px 3px;
	margin: 0px 0px 0px 0px;
}

/****************************************************************************************************************/
/****************************************************************************************************************/

/*INICIA CUERPO LOGIN */

#logo{
	width:300px;
	height:auto;
	text-align:center;
	float:left;
	overflow:auto;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
#login{
	width:500px;
	height:auto;
	text-align:center;
	float:left;
	overflow:auto;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}

.celda0{
	font-size:12px;
	color:black;
	text-align:left;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 20px;
	text-decoration:underline;
}

.celda1{
	width:95px;
	height:25px;
	color:black;
	text-align:right;
	margin:0px 0px 0px 0px;
	padding:10px 0px 0px 0px;
}

.celda2{
	width:200px;
	height:25px;
	color:black;
	text-align:left;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}

.celda3{
	font-size:auto;
	height:auto;
	text-align:right;
}

.errores{
	color: red;
	width: auto;
	font-weight: bold;
	margin:0px 0px 0px 0px;
	padding: 20px 0px 0px 0px;
}

/*FIN CUERPO LOGIN */

/****************************************************************************************************************/
/****************************************************************************************************************/

#mision{
	width:370px;
	height:auto;
	float:left;
	overflow:auto;
	margin:0px 0px 0px 0px;
	padding:0px 15px 0px 15px;
}

#vision{
	width:370px;
	height:auto;
	float:left;
	overflow:auto;
	margin:0px 0px 0px 0px;
	padding:0px 15px 0px 15px;
}


/****************************************************************************************************************/
/****************************************************************************************************************/


/* INICIA CODIGO CORRESPONDIENTE AL CUERPO DEL SITIO */

#contenido{
	width: 800px;
	height: auto;
	padding: 20px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	overflow: auto;
}

.formulario{
	width: 780px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.titulo{
	margin:0px 0px 0px 0px;
	padding: 5px 0px 5px 0px;
	background-color: blue; 
	text-align: center;
	color: white;
	font-size: 16px;
	font-weight: bold;
}

.caja1 {
	width: 150px;
	margin: 0px 0px 0px 0px;
	padding: 5px 5px 5px 0px;
	text-align: right;
}

.caja2 {
	width: 280px;
	margin: 0px 0px 0px 0px;
	padding: 5px 0px 5px 0px;
}

.caja3 {
	width: auto;
	margin: 0px 0px 0px 0px;
	padding: 5px 0px 5px 0px;
}

.caja4 {
	width: 780px;
	margin: 0px 0px 0px 0px;
	padding: 5px 10px 5px 0px;
	text-align: right; 
}

input[type=text], input[type=password]{
	width: 245px;
	padding: 5px 3px 5px 3px;
}

select{
	width: 256px;
	padding: 5px 3px 5px 3px;
}

input[type=submit]{
	width: 150px;
	padding: 5px 3px 5px 3px;
}

fieldset{
	width: 780px;
	margin-left: auto;
	margin-right: auto;
	margin-top:0px;
	margin-bottom: 0px;
	padding: 0px 0px 0px 0px;
}

/****************************************************************************************************************/
/****************************************************************************************************************/

#footer1{
	width:800px;
	height:86px;
	padding:0px 0px 0px 0px;
	margin:20px 0px 0px 0px;
	background-image: url('../imagenes/copi.jpg');
	float: left;
}
#footer2{
	width:800px;
	height:41px;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	background-image: url('../imagenes/csjcivil_14.jpg');
	float: left;
}

#footer11{
	width:1330px;
	height:86px;
	padding:0px 0px 0px 0px;
	margin:20px 0px 0px 0px;
	background-image: url('../imagenes/copi.jpg');
	background-repeat: no-repeat;
	background-size:1330px 86px;
}
#footer22{
	width:1330px;
	height:41px;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	background-image: url('../imagenes/csjcivil_14.jpg');
	background-repeat: no-repeat;
	background-size:1330px 41px;
}



/****************************************************************************************************************/
/****************************************************************************************************************/
/* REPORTES */


#contenidoR {
    min-width: 740px;
    margin-left: 240px;
    padding: 0px;
    z-index: 1;
    background-color:white;
    margin-left:auto;
    margin-right:auto;
    border-radius: 15px 15px 15px 15px;
}

.cabecera_ {
    font-family: Helvetica,Arial,sans-serif;
    width: 100%;
    background-color: #F0F1F5;
    color: #606060;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: normal;
    text-align: center;
    border-spacing: 0px;
    border-radius: 15px 15px 0px 0px;
    border-width: 3px 3px medium;
    border-style: solid solid none;
    border-color: #7F9DB9 #7F9DB9 -moz-use-text-color;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    margin: 0px;
    padding: 5px;
}

.cabecera_reporte {
    width: 90%;
    margin: 10px auto;
    background-color: #FFFFFF;
    border: none;
}

#tresultados div {
    border-left: 3px solid #7F9DB9;
    border-right: 3px solid #7F9DB9;
}

.tablaR {
    width: 100%;
    empty-cells: show;
    border-spacing: 0px;
    border-left: 3px solid #7F9DB9;
    border-right: 3px solid #7F9DB9;
    background-color: #F0F1F5;
    font-family: Helvetica, Arial, sans-serif;
}

.tablaR td {
    border-bottom: 1px solid #D3D3D3;
    padding: 3px;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}


.tituloR {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 20px;
    color: #FFF;
    text-align: center;
    font-weight: bold;
    font-variant: small-caps;
    background: url('../../../../imagenes/header.png') repeat-x scroll 0% 0% transparent;
    height: 35px;
}

#contenido3R {
    min-width: 724px;
    height: 28px;
    padding: 5px;
    background-color: #F0F1F5;
    border-left: 3px solid #7F9DB9;
    border-right: 3px solid #7F9DB9;
}

.tablam {
    width: 100%;
    empty-cells: show;
    border-spacing: 0px;
    border-left: 3px solid #7F9DB9;
    border-right: 3px solid #7F9DB9;
    background-color: #F0F1F5;
    font-family: Helvetica, Arial, sans-serif;
}

.tablam td:first-child, .tablam td {
    border-bottom: 1px solid #D3D3D3;
    padding: 3px;
    font-family: Helvetica, Arial, sans-serif;
    text-align: right;
}

.tablam td:first-child {
    font-weight: bold;
    text-align:right;
    font-size:17px;
}

.botones_a, .botones_b {
    width: 100%;
    empty-cells: show;
    border-spacing: 0px;
    border-left: 3px solid #7F9DB9;
    border-right: 3px solid #7F9DB9;
    background-color: #F0F1F5;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 12px;
    color: #616161;
}

.tablaFrmEst td, .tablaFrmEst td:first-child {
    text-align: center;
}

.botones_b {
    width: 100%;
    empty-cells: show;
    border-spacing: 0px;
    border-left: 3px solid #7F9DB9;
    border-right: 3px solid #7F9DB9;
    background-color: #F0F1F5;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #616161;
}


.botones_b td span {
    font-style: italic;
    font-weight: bold;
}

.botones_b td {
    text-align: right;
    padding: 5px;
}


.botones_b td {
    border-top: 1px solid #7F9DB9;
    border-bottom: 1px solid #D3D3D3;
}

.botones_b td:first-child {
    text-align: left;
    width: 50%;
}

.botones_b input {
    width: 140px;
    height: 22px;
    padding: 0 10px 2px 10px;
    font-size: 12px;
}

input[type="button"], button, input[type="reset"], input[type="submit"] {
    border: 1px outset #3895CC;
    background-color: #056299;
    height: 22px;
    font-size: 11px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: normal;
    color: #FEE8CE;
    padding: 0px 10px 2px;
    border-radius: 3px;
}

.pie_ {
    font-family: Helvetica, Arial, sans-serif;
    width: 100%;
    background-color: #F0F1F5;
    color: #606060;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: normal;
    text-align: center;
    border-spacing: 0px;
    border-radius: 0px 0px 15px 15px;
    border: 3px solid #7F9DB9;
    border-top: none;
    margin: 0px;
    padding: 5px;
}

.datosReporte {
    width: 95%;
    empty-cells: show;
    border-spacing: 0px;
    margin: 10px auto;
    padding: 3px;
    border: 2px solid #FAD163;
    background-color: #FFF7D7;
    font-family: Helvetica, Arial, sans-serif;
}

.datosReporte td {
    border-bottom: none !important;
    padding: 3px;
    font-size: 12px;
    font-family: Helvetica, Arial, sans-serif;
    text-align: left !important;
}

.datosReporte td:first-child {
    min-width: 15%;
    font-weight: bold;
}


td.cabeza_tabla {
    height: 25px;
    background-color: #EBEADB;
    font-weight: bold;
    overflow: hidden;
    font-size: 11px;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    border-bottom: 2px solid #CBC7B8;
    background-image: url('../imagenes/column.png');
}

.resultados {
    font-size: 12px;
}

.resultados_i {
    background-color: #EBEADB;
    font-size: 12px;
}

.resultados input[type="text"], .resultados_i input[type="text"] {
    border: 0;
    background-color: transparent !important;
}

tr.resultados:hover, tr.resultados_i:hover {
    background-color: #EFE0C2;
}


.resultadosRep {
    margin: 10px auto;
    width: 100%;
    empty-cells: show;
    border-spacing: 0px;
    border-collapse: collapse;
    background-color: #FFFFFF;
    font-size: 12px;
    font-family: Helvetica, Arial, sans-serif;
}

.resultadosRep thead th, .resultadosRep tfoot td {
    padding: 3px;
    font-weight: bold;
    text-align: left;
    border: 1px solid #000000;
    background-color: #D3D3D3;
}

.tituloReporte, .resultadosRep tfoot td {
    text-align: center !important;
}

.resultadosRep tbody td {
    padding: 2px;
    border: 1px solid #000000;
}

.sinResultados {
    height: 50px;
    font-size: 14px;
}



/* ****************************************************************************************** */
/* ****************************************************************************************** */

/* PAGINADOR */

 .holder, #legend2 {
    margin:15px 0;
    padding: 3px;
    text-align:center;
    border-spacing: 0px;
    border-left: 3px solid #7F9DB9;
    border-right: 3px solid #7F9DB9;
    background-color: #F0F1F5;
}
.holder a {
    font-size:12px;
    cursor:pointer;
    margin:0 5px;
    color:#333;
}
.holder a:hover {
    background-color:#222;
    color:#fff;
}
.holder a.jp-previous {
    margin-right:15px;
}
.holder a.jp-next {
    margin-left:15px;
}
.holder a.jp-current,a.jp-current:hover {
    color:#FF4242;
    font-weight:bold;
}
.holder a.jp-disabled,a.jp-disabled:hover {
    color:#bbb;
}
.holder a.jp-current,a.jp-current:hover,.holder a.jp-disabled,a.jp-disabled:hover {
    cursor:default;
    background:none;
}
.holder span {
    margin: 0 5px;
}
